services:
  jenkins:
    build:
      context: ./src/
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ~/.jenkins_home:/var/jenkins_home
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:8080/login"]
